#pridegrad {
    background: -webkit-linear-gradient(left top, #dd1818 , #fc4a1a, #fffc00, #00811F, #00F260, #a80077); 
    background: -webkit-linear-gradient(left top, #dd1818 , #fc4a1a, #fffc00, #00811F, #00F260, #a80077); 
    background: -webkit-linear-gradient(left top, #dd1818 , #fc4a1a, #fffc00, #00811F, #00F260, #a80077); 
    background: -webkit-linear-gradient(left top, #dd1818 , #fc4a1a, #fffc00, #00811F, #00F260, #a80077); 
}
